<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.EmpMapper">
    <!-- 1. 创建同包同名的目录和文件 -->
    <!-- 2. namespace为该类的全引用  -->
    <!-- 3. 设置<select>标签, 其中id为方法名, resultType为返回结果值 -->
    <!-- note: xml不能在字符串中写入#{} e.g. '%#{name}%' 可以用concat拼接函数实现  -->
    <select id="list" resultType="com.example.pojo.Emp">
        select e.*, d.name deptName from emp e left join dept d on e.dept_id = d.id
        where
            e.name like contact('%', #{name}, '%')
            and e.gender = #{gender}
            and e.entry_data between #{begin} and #{end}
        order by e.update_time desc
    </select>
</mapper>